/* Botones de Acción */
.btn-outline-primary,
.btn-outline-danger {
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-outline-primary {
  border-color: #e67e22;
  color: #e67e22;
}

.btn-outline-primary:hover {
  background-color: #e67e22;
  border-color: #e67e22;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(230, 126, 34, 0.2);
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.2);
}

/* Formulario del Reporte y Flatpickr */
.reporte-label {
  font-weight: 800;
  color: var(--color-oscuro);
  font-size: 0.9rem;
}

.reporte-select,
.reporte-input {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 10px 12px;
  transition: all 0.2s ease;
}

.reporte-select:focus,
.reporte-input:focus {
  border-color: #e67e22;
  box-shadow: 0 0 0 0.2rem rgba(230, 126, 34, 0.25);
}

.reporte-icon-box {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #7f8c8d;
}

.reporte-icon {
  vertical-align: middle;
  color: var(--color-principal);
}

.reporte-btn {
  background-color: var(--color-principal);
  border-color: #8b5a2b;
  transition: all 0.3s ease;
  padding: 10px 12px !important;
}

.reporte-btn:hover {
  background-color: #e48226;
  border-color: #e48226;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(230, 126, 34, 0.25);
}

.reporte-btn:active, .btn-recibo:active {
  background-color: #ee8f22 !important;
  transform: scale(0.98) !important;
  border: none;
  border: 1px solid #ee8f22 !important;
}
