:root {
  --color-principal: #8b5a2b;
  --color-secundario: #d4af37;
  --color-oscuro: #2b1e13;
  --color-claro: #fdfbf7;
  --color-blanco: #ffffff;
  --fuente-principal:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  line-height: 1.6;
}

/* Barra de Navegación */

.logo {
  height: 35px;
  width: 50px;
}

.marca {
  font-weight: 640;
  color: #411d11;
}

.marca-dos {
  color: #ebbd65;
}

.navbar-panify {
  position: sticky;
  background-color: white;
  padding: 10px p;
  top: 0;
  border-bottom: solid var(--color-secundario) 1px;
  z-index: 1000;
}

.nav-link {
  font-weight: 620;
  color: var(--color-oscuro);
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--color-principal);
}

.btn-login-nav {
  color: var(--color-blanco);
  background-color: var(--color-principal);
  padding: 5px 15px;
  transition: 0.3s;
}

.btn-login-nav:hover {
  transform: scale(1.1);
  color: var(--color-blanco);
  background-color: var(--color-oscuro);
  padding: 5px 15px;
}

/* Footer */

footer {
  background-color: var(--color-oscuro);
  color: #a19285;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-logo {
  color: var(--color-blanco);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-top: 30px;
}

.footer-info p {
  font-size: 14px;
}

.footer-rights {
  border-top: 1px solid #3d2b1b;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 12px;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
    padding: 1.5rem 0;
  }

  .navbar-nav.gap-5 {
    gap: 1.5rem !important;
  }

  .btn-login-nav {
    width: 80%;
    margin: 0 auto;
  }
}
