/* Contenedor del Formulario Login */
.modal-login {
  background-color: #3d2b1f !important; /* Fondo café oscuro sólido forzado */
  border-radius: 20px;
  
  /* Margen negativo para subir el formulario sobre el banner */
  margin-top: -350px; 
  position: relative;
  z-index: 10;
  
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  
  /* Sombra oscura y elegante en lugar del resplandor blanco */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #5a4030 !important;
}

.modal-login h2 {
  text-align: center;
  align-items: center;
  font-weight: 700;
  color: #ffffff !important;
}

/* Botón de Ingresar */
.btn-login-ingresar {
  border-radius: 20px !important;
  background-color: #8b5a2b !important; /* Color principal */
  border: none !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  transition: background-color 0.3s ease;
}

.btn-login-ingresar:hover {
  background-color: #e5a93c !important; /* Color dorado al pasar el mouse */
  color: #ffffff !important;
}

/* Enlaces (Recuperar y Registro) */
.link-login {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.link-login:hover {
  text-decoration: underline;
  color: #e5a93c !important;
}